# /etc/systemd/system/raar-acr-tracks-importer.service

[Unit]
Description=Add tracks to raar from ACR Cloud

[Service]
Type=simple
User=raar-scripts
Nice=10
WorkingDirectory=/opt/raar-acr-tracks-importer
ExecStart=/usr/bin/scl enable rh-ruby27 -- ./bin/raar_acr_tracks_importer.rb
